# Web
fastapi==0.115.0
uvicorn==0.30.6

# DB
SQLAlchemy==2.0.31

# Auth / JWT
python-jose[cryptography]==3.3.0
cryptography==42.0.7

# Password hashing
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
python-multipart==0.0.9

# Pydantic extra
email-validator==2.1.0.post1

# PDF
reportlab==4.2.2

# Scraping / HTTP (necessário!)
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
html5lib==1.1
