# Web
fastapi==0.115.0
uvicorn==0.30.6

# Auth / JWT
python-jose[cryptography]==3.3.0
cryptography==42.0.7

# Password hashing
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9

# Pydantic extra (evita o aviso do email-validator)
email-validator==2.1.0.post1
pydantic==1.10.15

# DB
SQLAlchemy==2.0.36

# PDF
reportlab==4.2.5
Jinja2==3.1.4

# HTTP + scraping (100% Python, sem C)
httpx==0.27.2
beautifulsoup4==4.12.3
html5lib==1.1

# (sem lxml)

